dist/
build/
*.egg-info/
__pycache__/
*.pyc
examples/model_random.pt
examples/model_random_1.pt
examples/model_random_2.pt
examples/model_random_3.pt
examples/random.ipynb
examples/random copy.ipynb
examples/fakedataset_simcausal_complex.csv
examples/frengression_ex.ipynb